.scroll-to-top-btn {
  position: fixed;
  right: 10rem;
  bottom: 8rem;
  transform: translateX(-50%);
  background: none;
  border: none;
  padding: 0;
  z-index: 1000;
  cursor: pointer;

  .scroll-to-top-img {
    width: 100px;
    height: 100px;
    display: block;
    transition: transform 0.2s;
  }

  &:hover .scroll-to-top-img {
    transform: scale(1.1) rotate(-10deg);
  }
}

/* Masquer le bouton en mode mobile */
@media (max-width: 768px) {
  .scroll-to-top-btn {
    display: none;
  }
}
