@use "../styles/variables" as *;

// --- Flexbox Mixins ---
@mixin flex {
  display: flex;
}
@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
@mixin flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

// Alignement (align-items) et justification (justify-content)
@mixin flex-align-center {
  display: flex;
  align-items: center;
}
@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}
@mixin flex-align-start {
  display: flex;
  align-items: flex-start;
}
@mixin flex-align-end {
  display: flex;
  align-items: flex-end;
}
@mixin flex-justify-start {
  display: flex;
  justify-content: flex-start;
}
@mixin flex-justify-end {
  display: flex;
  justify-content: flex-end;
}
@mixin flex-center {
  @include flex-justify-center;
  align-items: center;
}

// Direction row
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
@mixin flex-between {
  @include flex-row;
  justify-content: space-between;
}
@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-evenly {
  @include flex-row;
  justify-content: space-evenly;
}
@mixin flex-around {
  @include flex-row;
  justify-content: space-around;
}

// Direction column
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-column-center {
  @include flex-column;
  justify-content: center;
  align-items: center;
}
@mixin flex-column-between {
  @include flex-column;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-column-around {
  @include flex-column;
  justify-content: space-around;
  align-items: center;
}
@mixin flex-column-evenly {
  @include flex-column;
  justify-content: space-evenly;
  align-items: center;
}

// Flexbox personnalisables
@mixin flex-column-adjustable(
  $align-items: center,
  $justify-content: space-evenly
) {
  @include flex-column;
  align-items: $align-items;
  justify-content: $justify-content;
}
@mixin flex-row-reverse-adjustable(
  $align-items: center,
  $justify-content: space-evenly
) {
  @include flex-row-reverse;
  align-items: $align-items;
  justify-content: $justify-content;
}
@mixin flex-row--adjustable(
  $align-items: center,
  $justify-content: space-evenly
) {
  @include flex-row;
  align-items: $align-items;
  justify-content: $justify-content;
}

// Grid background commun à toutes les pages
@mixin grid-background {
  background-color: #1e1e2f;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 45px 45px;
}

// --- Badge text ---
// Mixin commun pour les badges de texte personnalisés
@mixin badge-text(
  $background,
  $gradient-end,
  $shadow-color,
  $inset-color,
  $relief-color,
  $text-color: null
) {
  font-family: "Oswald", Arial, sans-serif;
  background: linear-gradient(90deg, $background 0%, $gradient-end 100%);
  border-radius: 8px;
  padding: 0 10px;
  font-weight: 600;
  box-shadow: 0 2px 10px 2px $shadow-color, 0 0 0 3px $inset-color inset,
    0 1.5px 0 $relief-color inset;
  font-size: 1.12em;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 0 $relief-color;
  margin: 0 2px;
  @if $text-color != null {
    color: $text-color;
  }
}
// --- Test description pour le style des classes habilete-description et chance-description ---
@mixin test-description($border, $bg, $shadow) {
  border-left: 6px solid $border;
  background-color: $bg;
  padding: 0.7rem 1rem;
  margin: 1rem 0;
  border-radius: 4px;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  text-align: left;
  box-shadow: 0 2px 8px $shadow;
}
