@use "../../styles/mixins" as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  @include flex-center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 2.5rem;
  border-radius: 10px;
  min-width: 300px;
  max-width: 90vw;
  max-height: 90vh; // Ajouté pour éviter le débordement vertical
  position: relative;
  box-shadow: -4px -4px 0 #ffcc00, 8px 8px 0 #000;
  display: flex;
  flex-direction: column;
  overflow: hidden; // Empêche le débordement du contenu
}

.modal-body {
  overflow-y: auto; // Rends le contenu scrollable si trop haut
  max-height: 70vh; // Réserve de l'espace pour le bouton de fermeture
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 900px) {
  .modal-content {
    padding: 1rem;
    min-width: 220px;
    max-height: 95vh;
  }
  .character-sheet {
    font-size: 0.85rem;
  }
}
